.Space{
    margin:30px 0;
    height: 25px;
    width: 250px;
}
.componantA{
    background-color: grey;
    color: white;
    height: 50vh;
    font-size: 32px;
}
.componantB{
    background-color: rgb(65, 171, 20);
    color: white;
    height: 50vh;
    font-size: 32px;
}
.componantC{
    background-color: rgb(138, 20, 167);
    color: white;
    height: 50vh;
    font-size: 32px;
}
.componantD{
    background-color:#3e3e3e;
    color: white;
    height: 50vh;
    font-size: 32px;
}


/* *, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   */
  /* body {
    background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
    font-size: 12px;
  } */
  
  button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background01 {
    background: linear-gradient(to right, white 0%, white 100%);
    font-size: 12px;
    display: flex;
    min-height: 70vh;
  }
  
  .container01{
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .container01:hover{

    padding:4px;
    background-color: rgba(137, 133, 133, 0.64);
    border-radius: 15px;

  }
  .screen01 {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen01:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header01 {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left01 {
    margin-right: auto;
    padding: 30px;
  }
  
  .screen-header-button01 {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close01 {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize01 {
    background: #e8e925;
  }
  
  .screen-header-button.minimize01 {
    background: #74c54f;
  }
  
  .screen-header-right01{
    display: flex;
  }
  
  .screen-header-ellipsis01{
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body01 {
    display: flex;
  }
  
  .screen-body-item01 {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left01 {
    display: flex;
    flex-direction: column;
  }
  
  .app-title01 {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  /* .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  } */
  
  .app-contact01 {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group01 {
    margin-bottom: 15px;
  }
  
  .app-form-group.message01{
    margin-top: 40px;
  }
  
  .app-form-group.buttons01{
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control01 {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control01::placeholder {
    color: #666;
  }
  
  .app-form-control01:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button01 {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button01:hover {
    color: #b9134f;
  }
  
  /* .credits01 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  } */
  
  /* .credits-link01{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  } */
  
  /* .dribbble01 {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  } */
  
  @media screen and (max-width: 520px) {
    .screen-body01 {
      flex-direction: column;
    }
  
    .screen-body-item.left01 {
      margin-bottom: 30px;
    }
  
    .app-title01 {
      flex-direction: row;
    }
  
    .app-title01 span {
      margin-right: 12px;
    }
  
    .app-title01:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body01 {
      padding: 40px;
    }
  
    .screen-body-item01 {
      padding: 0;
    }
  }
  